<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Личный кабинет</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style_personal.css">
          <style>
body {
background: url(static/image/8.png);

}
</style>
       </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>

  <div class="child1">
      <header class="header">
        <h2>Личный кабинет</h2>
      </header>
    </div>

    <div class="child2">
        <header class="header">
            <h2>Выберите предмет:</h2>
        </header>
    </div>
    <div class="get_class">
        {% for item in items %}
        <a href="{{url_for('get_lesson', my_id=item.id)}}">{{item.name_of_subject}}</a>
        {% endfor %}
    </div>
   <!-- <div class="child3">
        <div class="box-image">
            <figure>
        <a onclick="document.location='/vibor_lessons'"><img src="static/image/1class.png"></a>
        <a onclick="document.location='/vibor_lessons'"><img src="static/image/2class.png"></a>
        <a onclick="document.location='/vibor_lessons'"><img src="static/image/3class.png"></a>
        <a onclick="document.location='/vibor_lessons'"><img src="static/image/4class.png"></a>
            </figure>
        </div>
    </div>-->


  </body>
</html>